.ui {

  &.marcas {
    position: relative;

    & &.lista {
      background-color: white;
      position: absolute;
      width: 100%;
      max-height: 18.75rem;
      z-index: 3;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border: 1px solid #e5e7e8;
      border-top: none;
      box-shadow: 0 0 2px rgba(0,0,0,0.2);

      & a {
        display: block;
        padding: 1rem 0.5rem 1rem 1rem;
      }

    }

  }

}